
android/** linguist-detectable=false
ios/** linguist-detectable=false
web/** linguist-detectable=false
linux/** linguist-detectable=false
macos/** linguist-detectable=false
windows/** linguist-detectable=false

.agent/** linguist-detectable=false
.cursor/** linguist-detectable=false
.specify/** linguist-detectable=false

**/venv/** linguist-detectable=false
**/.venv/** linguist-detectable=false
**/scripts/** linguist-detectable=false

*.py linguist-detectable=false
