# Ignorar pastas de plataforma que poluem as estatísticas
android/* linguist-vendored
ios/* linguist-vendored
web/* linguist-vendored
linux/* linguist-vendored
macos/* linguist-vendored
windows/* linguist-vendored

# Se houver alguma pasta de scripts ou ambiente Python que você queira ocultar
scripts/* linguist-vendored
venv/* linguist-vendored
.venv/* linguist-vendored
